@font-face {
    font-family: 'Mali';
    src: local('Mali Light'), local('Mali-Light'), url('Malilight.woff2') format('woff2'), url('Malilight.woff') format('woff'), url('Malilight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali Regular'), local('Mali-Regular'), url('Maliregular.woff2') format('woff2'), url('Maliregular.woff') format('woff'), url('Maliregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali SemiBold'), local('Mali-SemiBold'), url('Malisemibold.woff2') format('woff2'), url('Malisemibold.woff') format('woff'), url('Malisemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali Italic'), local('Mali-Italic'), url('Maliitalic.woff2') format('woff2'), url('Maliitalic.woff') format('woff'), url('Maliitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali Medium Italic'), local('Mali-MediumItalic'), url('Malimediumitalic.woff2') format('woff2'), url('Malimediumitalic.woff') format('woff'), url('Malimediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali ExtraLight Italic'), local('Mali-ExtraLightItalic'), url('Maliextralightitalic.woff2') format('woff2'), url('Maliextralightitalic.woff') format('woff'), url('Maliextralightitalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali Light Italic'), local('Mali-LightItalic'), url('Malilightitalic.woff2') format('woff2'), url('Malilightitalic.woff') format('woff'), url('Malilightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali Medium'), local('Mali-Medium'), url('Malimedium.woff2') format('woff2'), url('Malimedium.woff') format('woff'), url('Malimedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali ExtraLight'), local('Mali-ExtraLight'), url('Maliextralight.woff2') format('woff2'), url('Maliextralight.woff') format('woff'), url('Maliextralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali Bold Italic'), local('Mali-BoldItalic'), url('Malibolditalic.woff2') format('woff2'), url('Malibolditalic.woff') format('woff'), url('Malibolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali SemiBold Italic'), local('Mali-SemiBoldItalic'), url('Malisemibolditalic.woff2') format('woff2'), url('Malisemibolditalic.woff') format('woff'), url('Malisemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Mali';
    src: local('Mali Bold'), local('Mali-Bold'), url('Malibold.woff2') format('woff2'), url('Malibold.woff') format('woff'), url('Malibold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
