{% load custom_filters static %}

{% if user|in_groups:allowed_groups %}
  <button id="edit-post-btn-down"
          class="edit-icon-button"
          type="button"
          aria-label="Редактировать"
          title="Редактировать">
    <img src="{% static 'icons/pen-to-square-regular-full.svg' %}" alt="">
  </button>
  {% if not unified_editor %}
  <div id="edit-form-container-down" style="display: none;">
    <form id="edit-post-form-down" class="full-height">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ object.id }}">
      <textarea name="content" id="content-down" class="form-control full-height">{{ object.content }}</textarea>
      <button type="submit"
              id="save-changes-btn-down"
              class="btn btn-success fixed-btn">Сохранить</button>
    </form>
  </div>
  {% endif %}
{% endif %}
