<nav class="navbar navbar-expand-lg" style="background-color: #FDEED9;">
    <div class="container-fluid">
        <button class="navbar-toggler top-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if object.pk != 12 %}
                <li class="nav-item">
                    <a href="{% url 'planner:planner' %}" class="menu-link"><b>Pagrindinis puslapis</b></a>
                </li>
                {% endif %}
                {% if object.pk != 14 %}
                <li class="nav-item">
                    <a href="{% url 'planner:post-detail' 14 %}" class="menu-link"><b>Vaišnavų Kalendorius 2024-2025</b></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'planner:lunch_register' %}" class="menu-link"><b>Registracija šeštadienio pietums</b></a>
                </li>
                {% if object.pk != 15 %}
                <li class="nav-item">
                    <a href="{% url 'planner:post-detail' 15 %}" class="menu-link"><b>Rekomenduojami ištekliai</b></a>
                </li>
                {% endif %}
                {% if object.pk != 16 %}
                <li class="nav-item">
                    <a href="{% url 'planner:feedback' %}" class="menu-link"><b>Atsiliepimai</b></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
