{% extends "base.html" %}
{% load static %}
{% block title %}Расписание завтраков и лекций{% endblock title %}
{% block content %}

<!-- Основное содержимое -->
<div class="content">
  <br /><br />
  <p>Здесь будет основное содержимое страницы.</p>
  {% for item in objects %}
  {% include 'planner/includes/day.html' %}
  {% endfor %}

</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}
