{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<style>
    body {
        /* background-image: url("{% static 'img/345469.png' %}"); */
        background-color: #FDEED9;
        }
</style>



<div class="post index">
    {% include "planner/includes/menu.html" %}

<div class="post index">
    <div class="row">
        <div class="col-md-7 order-md-1 order-2">
            <div class="post-content">
                <!-- {{ content|safe }} -->
                {% if data.not_schedule_text %}
                <div>{{ data.not_schedule_text|safe }}</div>
            {% endif %}

            {% for key, value in data.items %}
                {% if key != 'not_schedule_text' %}
                    {% if user.is_authenticated %}
                        {{ key|safe }}
                    {% endif %}
                    <div>{{ value|safe }}</div>
                {% endif %}
            {% endfor %}

            {% if not data %}
            {{ content|safe }}
            {% endif %}


            </div>
            {% if user.is_authenticated %}
                <button id="edit-post-btn" class="btn btn-info btn-sm">Редактировать</button>

                <div id="edit-form-container" style="display: none;">
                    <form id="edit-post-form" class="full-height">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ object.id }}">
                        <textarea name="content" id="content" class="form-control full-height">{{ object.content }}</textarea>
                        <button type="submit" id="save-changes-btn" class="btn btn-success fixed-btn">Сохранить</button>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="col-md-5 order-md-2 order-1">
            {% if image %}
                <img src="{{ image.image.url }}" class="img-fluid" alt="Post Image">
            {% endif %}
        </div>
    </div>
    <footer class="text-center mt-4 footer">
        <p><a href="{% url 'users:login' %}">&copy;</a> {{ year }} Visos teisės saugomos </p><br>
    </footer>
</div>



<script>
    document.getElementById('edit-post-btn').addEventListener('click', function() {
        document.getElementById('edit-form-container').style.display = 'block';
    });

    document.getElementById('edit-post-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Предотвратить перезагрузку страницы
        const formData = new FormData(this);

        fetch("{% url 'planner:post-edit' object.id %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest' // Указывает, что запрос отправлен через AJAX
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json(); // Предполагаем, что сервер возвращает JSON
            }
            throw new Error('Ошибка при сохранении изменений');
        })
        .then(data => {
            // Обновляем содержимое поста
            document.querySelector('.post-content').innerHTML = data.content;
            document.getElementById('edit-form-container').style.display = 'none'; // Скрыть форму
        })
        .then(data => {
            // Обновляем содержимое поста
            document.querySelector('.post-content').innerHTML = data.content;

            // Дополнительно: можно обновить посты на главной странице, если нужно
            // Это может потребовать запроса к вашему API или повторного запроса к странице
        })
        .catch(error => {
            console.error(error);
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock content %}
