{% extends 'new_base.html' %}
{% load static %}

{% block content %}
<style>
    figure {
        margin: 0;
    }
    .image_resized img {
        max-width: 100%;
        height: auto;
    }
    .small-contaniner {
        width: 800px;
        height: 800px;
        margin: 50px 0 0 50px;
    }
    ul, ol {
        padding-left: 20px;
    }
</style>
<div class="small-contaniner">
    <h1>{{ text.title }}</h1>
    {{ text.text|safe }}  <!-- Здесь будет отображаться содержимое текста -->
    <br><br>
    {% if user.is_authenticated %}
      <a href="{% url 'planner:text_update' object.pk %}"
         class="edit-icon-button"
         aria-label="Редактировать"
         title="Редактировать">
        <img src="{% static 'icons/pen-to-square-regular-full.svg' %}" alt="">
      </a>
    {% endif %}
</div>

{% endblock content %}
