{% extends 'base.html' %}

{% block title %}
  Список недель
{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="mt-4">Список недель с расписанием</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Номер недели</th>
          <th scope="col">Дата начала</th>
          <th scope="col">Дата окончания</th>
        </tr>
      </thead>
      <tbody>
        {% for week in week_events %}
          <tr>
            <td>
              <b><a class="week_detail" href="{% url 'planner:week_detail' week.pk %}">
                {{ week.week_number }}
              </a></b>
            </td>
            <td>{{ week.start_date }}</td>
            <td>{{ week.end_date }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">Нет доступных записей.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- Пагинация -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if week_events.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ week_events.previous_page_number }}">Предыдущая</a>
          </li>
        {% endif %}
        {% for num in week_events.paginator.page_range %}
          <li class="page-item {% if week_events.number == num %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endfor %}
        {% if week_events.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ week_events.next_page_number }}">Следующая</a>
          </li>
        {% endif %}
      </ul>
    </nav>

    <div class="d-flex justify-content-between align-items-center my-3">
      <a href="{% url 'planner:cabinet' %}" class="btn btn-secondary">
          Назад
      </a>
  </div>
  </div>
{% endblock content %}
